force-app/main/default/flows/CheckInFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>UpdateAppointment</name>
        <label>UpdateAppointment</label>
        <locationX>609</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>GetAppointment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Checked In</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinishCheckIn</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CheckInFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckInFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAppointment</name>
        <label>GetAppointment</label>
        <locationX>266</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scannedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>FinishCheckIn</name>
        <label>FinishCheckIn</label>
        <locationX>799</locationX>
        <locationY>238</locationY>
        <inputReference>GetAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>427</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAppointment</targetReference>
        </connector>
        <fields>
            <name>PatientName</name>
            <fieldText>&lt;p&gt;Patient Name: {!GetAppointment.Contact__r.FirstName} {!GetAppointment.Contact__r.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AppointmentDateTime</name>
            <fieldText>&lt;p&gt;Appointment DateTime: {!GetAppointment.Appointment_Date_Time__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllProcedureFollowed</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Procedures Followed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ProcedureFollowed</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScanIt</name>
        <label>ScanIt</label>
        <locationX>74</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAppointment</targetReference>
        </connector>
        <fields>
            <name>ScanCmp</name>
            <extensionName>c:scanCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scannedId</assignToReference>
                <name>scannedBarcode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ScanIt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProcedureFollowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>scannedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
